extends layout 

block metadatos 
  title Error 404 Not Found 
  meta(name="description", content="Error 404 Not Found")
block content
  main.container
    h1 Error 404 Not Found
    img(src="/img/error-404.jpg", alt="Error 404")
    br
    a(href="/") Volver a Inicio